<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="document/head ::head_section"></head>

<body>
<div class="container">
    <div class=" form-row"></div>

    <form th:action="@{/add}" th:object="${planetDto}" method="post">

        <div class="form-row">
            <div class="col-sm-12 col-md-6 form-group">
                <input type="text" name="planetName" placeholder="planet name" class="form-control">
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input type="text" name="planetType" placeholder="planet type" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4 col-md-4 form-group">
                <input type="number" name="distanceFromSun " placeholder="distance from Sun" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 form-group">
                <input type="number" step="0.01" value="0.01" name="oneWayLightTimeToTheSun"
                       placeholder="One Way Light time to the Sun" class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 form-group">
                <input type="number" name="lengthOfYear" placeholder="Length of Year" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-12 col-md-12 form-group">
                <textarea type="text" name="planetImage" placeholder="planet image" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-12 form-group">
                <textarea rows="4" name="planetInfo" placeholder="planet info" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-12 col-md-12 form-group">
                <textarea type="text" name="tags" placeholder="planet tags" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-12 col-md-12 form-group">
                <button type="submit" name="planetName" class="btn btn-success btn-sm form-control">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
            </div>
        </div>

        <a href="/" class="btn btn-success btn-sm form-control"> Return </a>

    </form>
</div>
</body>


